In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../Data/ufc_fighters.csv')

In [3]:
df.tail()

,fighter_id,name,win,lose,draw,nc,height,weight,reach,stance,dob,SLpM,Str_Acc,SApM,Str_Def,TD_Avg,TD_Acc,TD_Def,Sub_Avg,last_updated
3182,3183,Steve Ramirez,5,2,0,0,"5' 7""",125 lbs.,NaN,NaN,NaN,0.00,0%,0.00,0%,0.00,0%,0%,0.0,2018-11-21 22:50:54.437265
3183,3184,Matt Ramirez,2,3,0,0,"5' 5""",125 lbs.,NaN,NaN,NaN,3.03,50%,0.67,75%,2.53,16%,100%,0.0,2018-11-21 22:50:58.828528
3184,3185,Hector Ramirez,9,4,1,0,"6' 0""",205 lbs.,NaN,Orthodox,"Mar 28, 1976",2.27,41%,4.60,56%,2.30,55%,66%,0.5,2018-11-21 22:51:03.377366
3185,3186,Thomas Ramirez,0,1,0,0,"6' 1""",410 lbs.,NaN,Sideways,NaN,0.00,0%,0.00,0%,0.00,0%,0%,0.0,2018-11-21 22:51:07.598092
3186,3187,Jessica Rakoczy,2,5,0,1,"5' 7""",115 lbs.,"68""",Orthodox,"Apr 14, 1977",2.50,44%,3.55,64%,0.75,20%,0%,0.8,2018-11-21 22:51:10.234045

In [4]:
df2 = pd.read_csv('../Data/UFC_Fighters_Database.csv')

In [5]:
df2.head()

,NAME,Weight,WeightClass,REACH,SLPM,SAPM,STRA,STRD,TD,TDA,TDD,SUBA
0,Tom Aaron,155,lightweight,71,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0
1,Danny Abbadi,155,lightweight,71,3.29,4.41,0.38,0.57,0.00,0.00,0.77,0.0
2,David Abbott,265,heavyweight,77,1.35,3.55,0.30,0.38,1.07,0.33,0.66,0.0
3,Shamil Abdurakhimov,235,heavyweight,76,2.53,2.53,0.45,0.58,1.36,0.22,0.77,0.3
4,Hiroyuki Abe,145,featherweight,70,1.71,3.11,0.36,0.63,0.00,0.00,0.33,0.0

In [6]:
df[df.name == 'David Abbott']

,fighter_id,name,win,lose,draw,nc,height,weight,reach,stance,dob,SLpM,Str_Acc,SApM,Str_Def,TD_Avg,TD_Acc,TD_Def,Sub_Avg,last_updated
2295,2296,David Abbott,10,14,0,0,"6' 0""",265 lbs.,NaN,Switch,NaN,1.35,30%,3.55,38%,1.07,33%,66%,0.0,2018-11-21 21:55:48.957474

In [7]:
df2[df2.NAME == 'David Abbott']

,NAME,Weight,WeightClass,REACH,SLPM,SAPM,STRA,STRD,TD,TDA,TDD,SUBA
2,David Abbott,265,heavyweight,77,1.35,3.55,0.3,0.38,1.07,0.33,0.66,0.0

In [8]:
df['reach'] = df.reach.map(lambda x: str(x).split('"')[0])

In [9]:
lists = ['Str_Acc', 'Str_Def', 'TD_Acc', 'TD_Def']

In [10]:
for x in lists:
    df[x] = df[x].map(lambda m: int(str(m).split('%')[0])/100)

In [11]:
def app(x):
    if x == "nan":
        return np.nan
    else:
        return x

In [12]:
df.reach = df.reach.apply(app)

In [24]:
for indx, row in df.iterrows():
    if row.reach is np.nan:
        j = df2[df2.NAME == df.name[row.name]]
        if len(j.REACH)>0:
            m = np.array(j.REACH)
            df.reach[row.name] = m[0]
        else:
            df.reach[row.name] = 0
            pass

<ipython-input-24-bed8f747970b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.reach[row.name] = m[0]
<ipython-input-24-bed8f747970b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.reach[row.name] = 0

In [28]:
df.reach = df.reach.apply(lambda x: int(x))

In [34]:
df.to_csv('../Data/fighters.csv', index=False)